<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>Desafio DBR.ag</title>

		<meta name="description" content="Venha fazer parte desse time. Aqui na DBR tem um café champs e uma galera disposta a fazer acontecer!"/>
        <meta name="robots" content="index, follow"/>

        <link rel="author" href=""/>
        <link rel="publisher" href=""/>
        <link rel="canonical" href="http://vagas.dbr.ag"/>
        <link rel="base" href="http://dbr.ag/"/>

        <meta itemprop="name" content="Desafio DBR.ag"/>
        <meta itemprop="description" content="Venha fazer parte desse time. Aqui na DBR tem um café champs e uma galera disposta a fazer acontecer!"/>
        <meta itemprop="image" content=""/>
        <meta itemprop="url" content="http://vagas.dbr.ag"/>

        <meta property="og:type" content="article" />
        <meta property="og:title" content="Desafio DBR.ag" />
        <meta property="og:description" content="Venha fazer parte desse time. Aqui na DBR tem um café champs e uma galera disposta a fazer acontecer!" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="http://vagas.dbr.ag" />
        <meta property="og:site_name" content="DBR.ag" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:app_id" content="" />
        <meta property="article:author" content="" />
        <meta property="article:publisher" content="" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="" />
        <meta property="twitter:domain" content="http://dbr.ag" />
        <meta property="twitter:title" content="Desafio DBR.ag" />
        <meta property="twitter:description" content="Venha fazer parte desse time. Aqui na DBR tem um café champs e uma galera disposta a fazer acontecer!" />
        <meta property="twitter:image:src" content="" />
        <meta property="twitter:url" content="http://vagas.dbr.ag" />

		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/app.css">

		<link rel="shortcut icon" href="./assets/img/favicon.png"/>
	</head>
	<body>
		<div class="looking-for">
			<div class="looking-for__container">
				<h1 class="looking-for__logo">
					<a href="http://dbr.ag/" title="DBR Home Page">
						<span class="looking-for__logo--link"></span>
						<span class="hidden">Desafio DBR.ag</span>
					</a>
				</h1>

				<section class="looking-for__content">
					<h1 class="hidden">Procura-se front-end!</h1>

					<p>Front-enders, <mark>procura-se!</mark></p>
					<p>Vaga <strong>presencial</strong></p>
					<p>São Paulo - Capital</p>
				</section>
			</div>
		</div><!-- /.looking-for -->

		<div class="questions">
			<section class="questions__container">
				<h1 class="hidden">Perguntas para o candidato</h1>
				<p>Você, por acaso...</p>

				<div class="questions__group">
					<article class="questions__curriculum">
						<img src="./assets/img/curriculum.png" alt="Currículo" title="Tem um bom currículo?">
						<h1>tem um bom <span class="text-highlight">currículo</span>?</h1>
					</article>

					<article class="questions__agency">
						<img src="./assets/img/agency.png" alt="Agência" title="Já trabalhou em agência?">
						<h1>já trabalhou em <span class="text-highlight">agência</span>?</h1>
					</article>

					<article class="questions__graduation">
						<img src="./assets/img/graduation.png" alt="Formação" title="É formado na área?">
						<h1>é <span class="text-highlight">formado</span> na área?</h1>
					</article>
				</div>

				<article class="questions__answers">
					<p>Sim?</p>
					<h1><strong class="text-important">Isso não importa aqui!</strong></h1>
				</article>
			</section>
		</div><!-- /.questions -->

		<div class="values">
			<section class="values__container">
				<div class="values__content">
					<img src="./assets/img/ilustra-conectores.png" alt="Conectores" title="Conectores de habilidades" class="values__content--bg">

					<div class="values__items">
						<h1>Sabe o que vale de <span class="text-highlight">verdade</span> na <strong>DBR.ag</strong>?</h1>

						<ul class="values__content--items">
							<li class="values__content--learn">Interesse em <span>aprender</span></li>
							<li class="values__content--knowledge">
								Conhecimento em:
								<img src="./assets/img/tech-logos.png" alt="Tecnologias Web" title="Tecnologias Web - Front End" class="values__content--knowledge-full">
								<img src="./assets/img/tech-logos-mini.png" alt="Tecnologias Web" title="Tecnologias Web - Front End" class="values__content--knowledge-mini">
							</li>
							<li class="values__content--challenge">Topar novos desafios</li>
							<li class="values__content--humor">Ótimo humor</li>
							<li class="values__content--music">Gostar de música</li>
							<li class="values__content--share">Gostar de compartilhar conhecimento</li>
						</ul>
					</div>
				</div>
			</section>
		</div><!-- /.values -->

		<div class="contact">
			<div class="contact__container">

				<div class="contact__title">
					<p>Preencha seus dados abaixo e o próximo passo será um desafio DBR!</p>
					<div class="contact__separator"></div>
				</div>

				<form action="/" method="post">
					<div class="contact__form-container">

						<div class="contact__form-field">
							<label for="name">Nome</label>
							<input type="text" name="name" id="name">
						</div>

						<div class="contact__form-field">
							<label for="email">E-mail</label>
							<input type="text" name="email" id="email">
						</div>

						<div class="contact__form-group">
							<div class="contact__form-field contact__form-group--age">
								<label for="age">Idade</label>
								<input type="text" name="age" id="age">
							</div>

							<div class="contact__form-field contact__form-group--gender">
								<label>Sexo</label>

								<div class="contact__gender">
									<div class="contact__gender--field">
										<input type="radio" name="gender" id="male" checked>
										<label for="male">Masculino</label>
									</div>

									<div class="contact__gender--field">
										<input type="radio" name="gender" id="female">
										<label for="female">Feminino</label>
									</div>
								</div>
							</div>

							<div class="contact__form-field contact__form-group--salary">
								<label for="salary">Pretensão Salarial</label>
								<input type="text" name="salary" id="salary">
							</div>
						</div><!-- /.contact__form-group -->

						<div class="contact__form-field">
							<label for="phone">Telefone</label>
							<input type="text" name="phone" id="phone">
						</div>

						<div class="contact__form-field">
							<label for="facebook">Facebook</label>
							<input type="text" name="facebook" id="facebook">
						</div>

						<div class="contact__form-field">
							<label for="twitter">Twitter</label>
							<input type="text" name="twitter" id="twitter">
						</div>

						<div class="contact__form-field">
							<label for="github">GitHub</label>
							<input type="text" name="github" id="github">
						</div>

						<div class="contact__form-field">
							<label for="message">Fale mais sobre você</label>
							<textarea name="message" id="message" rows="10"></textarea>
						</div>

						<div class="contact__form-field">
							<button type="submit" class="button button-success">Quero a vaga!</button>
						</div>

					</div><!-- ./contact__form-container -->
				</form>

				<div class="contact__logo">
					<a href="http://dbr.ag/" title="DBR Home Page">
						<span class="contact__logo--link"></span>
						<span class="hidden">DBR</span>
					</a>
				</div>

			</div><!-- /.contact__container -->
		</div><!-- /.contact -->

		<script src="assets/js/app.js"></script>
	</body>
</html>