h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


p {
  word-wrap: break-word;
}


body,
html {
  height: 100%;

}

html {
  font-size: 14px;
}

body {

  line-height:1.3;
  color: #969595;

  font-family: "Source Sans Pro", "Trebuchet MS", sans-serif;
  font-size: 14px;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;

}


/*******************************
             Headers
*******************************/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'DIN Condensed';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.714rem;
}
h3 {
  font-size: 1.28rem;
}
h4 {
  font-size: 1.071rem;
}
h5 {
  font-size: 1rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}


/*******************************
             Text
*******************************/

p {
  // margin: 0em 0em 1em;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 100;
  color: #7A7E87;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}

/*-------------------
        Links
--------------------*/

a {
  color: #009fda;
  text-decoration: none;
}
a:hover {
  color: #00b2f3;
}

strong {
  font-family: "DIN", sans-serif;
  color: #bebebe;
  font-weight: bold;
  text-transform: uppercase;
}

.main-title {
  font-size: 3.5em;
  color: #FFF;

  span {
    margin-right: .2em;
  }

}

.highlighted {
  color: #fff;
  background: #EF273E;
  padding: .2em;
  line-height: 1;
  display: inline-block;

}

.has-hidden {
  visibility: hidden;
}


