*
	box-sizing: border-box

body
	font-family: 'Roboto', sans-serif
	font-size: 62.5%;
	line-height: 1.2


h1, h2, h3, h4, h5, h6
	font-weight: bold
	font-family: 'Roboto', sans-serif

h1
	font-size: 1.4rem

h2
	font-size: 1.3rem

h3
	font-size: 1.25rem

h4
	font-size: 1.2rem

h5
	font-size: 1.1rem

b
	font-weight: bold

i
	font-style: italic

a
	color: blue
