/* 
	Font Mixin by Rucksack - http://simplaio.github.io/rucksack/
 */

@font-face {
  font-family: 'gotham-book';
  font-path: '../font/gotham-book';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-bold';
  font-path: '../font/gotham-bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-thin';
  font-path: '../font/gotham-thin';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-lightoblique';
  font-path: '../font/avenir-lightoblique';
  font-weight: normal;
  font-style: normal;
}


