%title {
    font: 55px $thin;
}

%input {
    margin-top: 35px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: $bgcolor-third;
    font: 16px/1.1em $lightoblique;
}