/**
 * Buttons
 */
.button {
	display: inline-block;
	color: $color-base;
	background-color: $color-base-light;
	font-family: $font-family-base;
	font-weight: $font-weight-base;

	border: 1px solid darken($color-base-light, 10%);
	text-decoration: none;
	cursor: pointer;
	outline: none;

	margin-top: .5em;
	margin-right: 1em;

	transition: all .3s;

	@include button-size(0, 2em, $font-size-medium, 2.4, 6px);

	&:hover,
	&:focus,
	&:disabled {
		background-color: darken($color-base-light, 15%);
		color: $color-base-light;
	}

	&:disabled {
		cursor: disabled;
		opacity: .65;
	}

	// Variações
	&-success {
		@include button-variant($button-success-color, $button-success-bg, $button-success-border);
	}

	&-info {
		@include button-variant($button-info-color, $button-info-bg, $button-info-border);
	}

	&-warning {
		@include button-variant($button-warning-color, $button-warning-bg, $button-warning-border);
	}

	&-danger {
		@include button-variant($button-danger-color, $button-danger-bg, $button-danger-border);
	}
}